.first-color { 
	background: #ececec; 
}
	
.second-color { 
	background: #9fd3c7; 
}

.third-color { 
	background: #385170;
    color: white; 
}

.fourth-color { 
	background: #142d4c;
    color: white; 
}

body{
    
}